# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
 @mashbo:registry=https://gitlab.com/api/v4/packages/npm/

# If repo is switched to private, add these lines as they are below @mashbo:registry...
# ${GITLAB_AUTH_TOKEN} can be replaced with the "Gitlab js template deploy bundle token" in 1password.
#'//gitlab.com/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
#'//gitlab.com/api/v4/projects/30442816/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"